.product-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.product-section{
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.package-section {
  flex: 1;
  margin: 10px;
  /* margin-right: 300px; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.product-container, .package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-card, .package-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: left;
}

button {
  background-color: #FC8019;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #FC8019;
}


.cart-on-productpage {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 10%;
  height: 100vh;
  right: 80%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.cart-item-name {
  flex: 2;
}

.cart-item-quantity {
  flex: 1;
  text-align: center;
}

.cart-item-price {
  flex: 1;
  text-align: right;
}

.cart-total {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-button {
  background-color: #FC8019;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #FC8019;
}
