/* .bg {
    background: linear-gradient(to bottom, #FC8019, rgba(255, 255, 255, 0.8));
    margin: 0;
    background-image: url('../../assets/pexels-alexy-almond-3756523.jpg');
    padding-top: 50px;
    background-repeat: no-repeat;
  } */

.register-container{
  position: relative;
  z-index: 1;
  width: 100%;
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFF2E8;
  border: 1px solid #FC8019;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 0px;
}