.background-image {
    background-image: url('../../assets/pexels-alexy-almond-3756523.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
  }
  
  .sigin-container {
    position: relative;
    z-index: 1;
    width: 100%;
    flex: 1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF2E8;
    border: 1px solid #FC8019;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 100px;
  }
  
  .signin-container::before {
    content: '';
    background-image: inherit;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);
    z-index: -1;
    opacity:0; /* Adjust the opacity as needed */
  }
  